In [1]:
name="mango"
cost=10
print(name, cost)

mango 10

In [2]:
name="mango"
cost=10
print(name, cost,sep=":")

mango:10

In [3]:
name="mango"
cost=10
print(name, cost,sep=";")

mango;10

In [4]:
print("hello")
print("hyderabad")

hello
hyderabad

In [5]:
print("hello");print("hyderabad")

hello
hyderabad

In [6]:
print("hello")
print("hyderabad")

hello
hyderabad

In [7]:
print("hello", end=" ")
print("hyderabad")

hello hyderabad

In [8]:
s="the temperature in hyderabad drastically increasing."
print(s)

the temperature in hyderabad drastically increasing.

In [9]:
s="the temperature in\thyderabad\n drastically increasing."
print(s)

the temperature in	hyderabad
 drastically increasing.

In [10]:
"""
Fruits:
      1. Mango
      2. apple
      3. banana
      4. pineapple
"""
print("")

In [13]:
print("Fruitr:\n\t1.Mango\n\t2.apple\n\t3.banana\n\t4.pineapple")

Fruitr:
	1.Mango
	2.apple
	3.banana
	4.pineapple

In [14]:
print("Fruitr:\n\t1.Mango\n\t2.apple\n\t3.banana\n\t4.pineapple sfsdf sfsdf sd fsdfsdfsdf
      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd")

SyntaxError: EOL while scanning string literal (<ipython-input-14-056610152b5e>, line 1)

In [15]:
print("Fruitr:\n\t1.Mango\n\t2.apple\n\t3.banana\n\t4.pineapple sfsdf sfsdf sd fsdfsdfsdf\
      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd")

Fruitr:
	1.Mango
	2.apple
	3.banana
	4.pineapple sfsdf sfsdf sd fsdfsdfsdf      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd

In [18]:
print("""
Fruites:
    1.Mango
    2.apple
    3.banana
    4.pineapple
""")

Fruites:
    1.Mango
    2.apple
    3.banana
    4.pineapple

In [19]:
print("Fruitr:\n\t1.Mango\n\t2.apple\n\t3.banana\n\t4.pineapple sfsdf sfsdf sd fsdfsdfsdf\
      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd")

Fruitr:
	1.Mango
	2.apple
	3.banana
	4.pineapple sfsdf sfsdf sd fsdfsdfsdf      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd

In [20]:
print("Fruitr:\\n\\t1.Mango\\n\\t2.apple\\n\\t3.banana\\n\\t4.pineapple sfsdf sfsdf sd fsdfsdfsdf\
      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd")

Fruitr:\n\t1.Mango\n\t2.apple\n\t3.banana\n\t4.pineapple sfsdf sfsdf sd fsdfsdfsdf      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd

In [21]:
# rawstrings
print(r"Fruitr:\n\t1.Mango\n\t2.apple\n\t3.banana\n\t4.pineapple sfsdf sfsdf sd fsdfsdfsdf\
      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd")

Fruitr:\n\t1.Mango\n\t2.apple\n\t3.banana\n\t4.pineapple sfsdf sfsdf sd fsdfsdfsdf\
      sd fsd f sdf sdf sd fsd f sd fsd f sd fsd f sdf sd fsd f sdf sd fsd fsd fd

In [22]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,"Age:",age,"Height:",height,"weight:",weight)

Name of the person: jayaram Age: 3 Height: 3.2456789 weight: 12.3436

In [23]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,"Age:",age,"Height:",height,"weight:",weight,sep="")

Name of the person:jayaramAge:3Height:3.2456789weight:12.3436

In [24]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name," Age:",age," Height:",height," weight:",weight,sep="")

Name of the person:jayaram Age:3 Height:3.2456789 weight:12.3436

In [25]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name," Age:",age," Height:",height," weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%s, Height:%s, Weight:%s",(name,age,height, weight))

Name of the person:jayaram Age:3 Height:3.2456789 weight:12.3436
Name of the person:%s, Age:%s, Height:%s, Weight:%s ('jayaram', 3, 3.2456789, 12.3436)

In [27]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%s, Height:%s, Weight:%s"%(name,age,height, weight))

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3, Height:3.2456789, Weight:12.3436

In [28]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%d, Height:%d, Weight:%d"%(name,age,height, weight))

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3, Height:3, Weight:12

In [29]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%f, Height:%f, Weight:%f"%(name,age,height, weight))

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3.000000, Height:3.245679, Weight:12.343600

In [30]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%.2f, Height:%.2f, Weight:%.2f"%(name,age,height, weight))

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3.00, Height:3.25, Weight:12.34

In [31]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%.2f, Height:%.2f, Weight:%.2f"%(name,age,height, weight))
# template strings, f-stabsrings
print("Name of the person:{name}, Age:{age}, Height:{hight}, Weight:{weight}")

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3.00, Height:3.25, Weight:12.34
Name of the person:{name}, Age:{age}, Height:{hight}, Weight:{weight}

In [33]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%.2f, Height:%.2f, Weight:%.2f"%(name,age,height, weight))
# template strings, f-stabsrings
print(f"Name of the person:{name}, Age:{age}, Height:{height}, Weight:{weight}")

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3.00, Height:3.25, Weight:12.34
Name of the person:jayaram, Age:3, Height:3.2456789, Weight:12.3436

In [36]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%.2f, Height:%.2f, Weight:%.2f"%(name,age,height, weight))
# template strings, f-stabsrings
print(f"Name of the person:{name}, Age:{age:d}, Height:{height:.2f}, Weight:{weight:.2f}")

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3.00, Height:3.25, Weight:12.34
Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34

In [37]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%.2f, Height:%.2f, Weight:%.2f"%(name,age,height, weight))
# template strings, f-stabsrings
print(f"Name of the person:{name}, Age:{age:.2f}, Height:{height:.2f}, Weight:{weight:.2f}")

Name of the person:jayaram, Age:3, Height:3.2456789, weight:12.3436
Name of the person:jayaram, Age:3.00, Height:3.25, Weight:12.34
Name of the person:jayaram, Age:3.00, Height:3.25, Weight:12.34

In [ ]:
#Name of the person:jayaram, Age:3, Height:3.25, Weight:12.34
name="jayaram"
age=3
height=3.2456789
weight=12.3436
print("Name of the person:",name,", Age:",age,", Height:",height,", weight:",weight,sep="")
# format specifiers
print("Name of the person:%s, Age:%.2f, Height:%.2f, Weight:%.2f"%(name,age,height, weight))
# template strings, f-stabsrings
print(f"Name of the person:{name}, Age:{age:.2f}, Height:{height:.2f}, Weight:{weight:.2f}")
# the f-string are failing now with some localization modules.

In [38]:
# raw_input
# input
#  3.x
# only input

In [39]:
a=input("enter a value:") # str
a=float(a) # float
print(a)

enter a value:10.23
10.23

In [40]:
a="s"
print(ord(a))

115

In [41]:
chr(115)

's'

In [42]:
ord("A")

65

In [43]:
ord("a")

97

In [44]:
s="q"
print(ord(s))

113

In [45]:
s="q"
print(ord(s)-32)

81

In [46]:
s="q"
print(chr(ord(s)-32))

Q

In [47]:
s="#"
print(chr(ord(s)-32))

