In [1]:
d={"name":"jay","age":3,"height":2.6}
print(d)

{'name': 'jay', 'age': 3, 'height': 2.6}

In [2]:
d={"name":"jay","age":3,"height":2.6}
d1={"state":"TS","street":"devendernagar","city":"Hyderabad"}
print(d, d1)

{'name': 'jay', 'age': 3, 'height': 2.6} {'state': 'TS', 'street': 'devendernagar', 'city': 'Hyderabad'}

In [3]:
d={"name":"jay","age":3,"height":2.6}
d1={"state":"TS","street":"devendernagar","city":"Hyderabad"}
d+d1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
d-d1

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [5]:
d*d1

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [6]:
d>d1

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [7]:
d==d1

False

In [8]:
d={"name":"jay","age":3,"height":2.6}
d1={"name":"jay","age":3,"height":2.6}
d==d1

True

In [9]:
d={"name":"jay","age":3,"height":2.6}
d1={"name":"jay","height":2.6,"age":3}
d==d1

True

In [10]:
d={"name":"jay","age":3,"height":2.6}
d1={"name":"jay","height":2.6,"age":3,"adhar":"sddfsdf"}
d==d1

False

In [11]:
d={"name":"jay","age":3,"height":2.6}
for i in d:
    print(i)

name
age
height

In [12]:
d={"name":"jay","age":3,"height":2.6}
for i in d.values():
    print(i)

jay
3
2.6

In [13]:
d={"name":"jay","age":3,"height":2.6}
for i in d.items():
    print(i)

('name', 'jay')
('age', 3)
('height', 2.6)

In [14]:
d={"name":"jay","age":3,"height":2.6}
d["phone"]="9676622023"
print(d)

{'name': 'jay', 'age': 3, 'height': 2.6, 'phone': '9676622023'}

In [15]:
d={"name":"jay","age":3,"height":2.6}
d["name"]="JAYRAMA"
print(d)a

{'name': 'JAYRAMA', 'age': 3, 'height': 2.6}

In [18]:
d={"name":"jay","age":3,"height":2.6}
d1={"state":"TS","street":"devendernagar","city":"Hyderabad"}
d.update(d1)
print(d)

{'name': 'jay', 'age': 3, 'height': 2.6, 'state': 'TS', 'street': 'devendernagar', 'city': 'Hyderabad'}

In [20]:
d={"name":"jay","age":3,"height":2.6}
d.update({"phone":"9676622023","name":"JAYRAM"})
print(d)

{'name': 'JAYRAM', 'age': 3, 'height': 2.6, 'phone': '9676622023'}

In [21]:
d={"name":"jay","age":3,"height":2.6}
d.setdefault("phone","9676622023")
print(d)

{'name': 'jay', 'age': 3, 'height': 2.6, 'phone': '9676622023'}

In [22]:
d={"name":"jay","age":3,"height":2.6}
d.setdefault("name","JAYRAM")
print(d)

{'name': 'jay', 'age': 3, 'height': 2.6}