In [1]:
def fun():
    print("this is fun")
    
class cls1:
    print("this is class")

this is class

In [2]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print("this is get")
    def put(x):
        print("this is put")
    
samba=emp()
samba.name="sambasiva"
samba.emp_id=1
sai=emp()
sai.name="sailaxmi"
sai.phone=9876567894
sai.emp_id=2

In [3]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print("this is get")
    def put(x):
        print("this is put")
print(company_name)

NameError: name 'company_name' is not defined

In [4]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print("this is get")
    def put(x):
        print("this is put")
print(emp.company_name)

Khyaathi

In [5]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print("this is get")
    def put(x):
        print("this is put")
print(emp.company_name)
emp.get(10)
emp.put(20)

Khyaathi
this is get
this is put

In [6]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print("this is get")
    def put(x):
        print("this is put")
    
samba=emp()
samba.name="sambasiva"
samba.emp_id=1
print(samba.name,samba.emp_id,samba.company_name)
sai=emp()
sai.name="sailaxmi"
sai.phone=9876567894
sai.emp_id=2
print(sai.name,sai.emp_id,sai.phone,sai.company_name)

sambasiva 1 Khyaathi
sailaxmi 2 9876567894 Khyaathi

In [7]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print("this is get")
    def put(x):
        print("this is put")
    
samba=emp()
samba.name="sambasiva"
samba.emp_id=1
print(samba.name,samba.emp_id,samba.company_name)
sai=emp()
sai.name="sailaxmi"
sai.phone=9876567894
sai.emp_id=2
print(sai.name,sai.emp_id,sai.phone,sai.company_name)
print(samba.phone)

sambasiva 1 Khyaathi
sailaxmi 2 9876567894 Khyaathi

AttributeError: 'emp' object has no attribute 'phone'

In [8]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print(x.name,x.emp_id,x.phone,x.company_name)
    def put(x,name, emp_id, phone=None):
        x.name=name
        x.emp_id=emp_id
        x.phone=phone
        
        
        
    
samba=emp()
# samba.name="sambasiva"
# samba.emp_id=1
emp.put(samba,"sambasiva",1)
#print(samba.name,samba.emp_id,samba.company_name)
emp.get(samba)
sai=emp()
emp.put(sai,"sailaxmi",2,9876567894)
# sai.name="sailaxmi"
# sai.phone=9876567894
# sai.emp_id=2
# print(sai.name,sai.emp_id,sai.phone,sai.company_name)
# print(samba.phone)
emp.get(sai)

sambasiva 1 None Khyaathi
sailaxmi 2 9876567894 Khyaathi

In [ ]:
class emp:
    company_name="Khyaathi"
    def get(x):
        print(x.name,x.emp_id,x.phone,x.company_name)
    def put(x,name, emp_id, phone=None):
        x.name=name
        x.emp_id=emp_id
        x.phone=phone
        

samba=emp()
emp.put(samba,"sambasiva",1)
emp.get(samba)
sai=emp()
emp.put(sai,"sailaxmi",2,9876567894)
emp.get(sai)

In [9]:
# define a class for car which is belongs maruthi compnay. every car may have cost,color, dimensions,
class Car:
    company="Maruthi" # class object atribute
    
    def put(x, name, cost,color,dimensions):
        x.name=name # name, color, cost, dimensions are data object attributes
        x.color=color
        x.cost=cost
        x.dimensions=dimensions
        
    def get(x):
        print(x.name, x.cost, x.color, x.dimensions, x.company)
        
vagonr = Car()# car() is a data object, vagonr is a reference to the data object. called as an instance
Car.put(vagonr, "Vagonr",700000, "navy Blue","23*32*45")
swift = Car()
Car.put(swift,"Swift",9000000,"Grey","25*32*43")
Car.get(vagonr)
Car.get(swift)

Vagonr 700000 navy Blue 23*32*45 Maruthi
Swift 9000000 Grey 25*32*43 Maruthi

In [10]:
# define a class for car which is belongs maruthi compnay. every car may have cost,color, dimensions,
class Car:
    company="Maruthi" # class object atribute
    
    def put(x, name, cost,color,dimensions):
        x.name=name # name, color, cost, dimensions are data object attributes
        x.color=color
        x.cost=cost
        x.dimensions=dimensions
        
    def get(x):
        print(x.name, x.cost, x.color, x.dimensions, x.company)
        
vagonr = Car()# car() is a data object, vagonr is a reference to the data object. called as an instance
Car.put(vagonr, "Vagonr",700000, "navy Blue","23*32*45")
swift = Car()
Car.put(swift,"Swift",9000000,"Grey","25*32*43")
Car.get(vagonr)
Car.get(swift)
scross=Car()
Car.get(scross)

Vagonr 700000 navy Blue 23*32*45 Maruthi
Swift 9000000 Grey 25*32*43 Maruthi

AttributeError: 'Car' object has no attribute 'name'

In [1]:
# take any scenario identify the entties in that scenario.
# we need to define the classes for travel agency project.

In [2]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")

this is class

In [3]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")
jay=Emp()

this is class
this is init

In [4]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")
jay=Emp()
vedha=Emp()
sai=Emp()

this is class
this is init
this is init
this is init

In [ ]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")
jay=Emp()
"""
1. internally it will call __new__ method,this method returns the data object
2. by using this data object, the constructor gets called.
3. at the end it will return the data object.
"""
vedha=Emp()
sai=Emp()

In [5]:
class Car:
    company="Maruthi" 
    
    def __init__(x, name, cost,color,dimensions):
        x.name=name 
        x.color=color
        x.cost=cost
        x.dimensions=dimensions
        
    def get(x):
        print(x.name, x.cost, x.color, x.dimensions, x.company)
        
vagonr = Car("Vagonr",700000, "navy Blue","23*32*45")
swift = Car("Swift",9000000,"Grey","25*32*43")
Car.get(vagonr)
Car.get(swift)

Vagonr 700000 navy Blue 23*32*45 Maruthi
Swift 9000000 Grey 25*32*43 Maruthi

In [6]:
class Car:
    company="Maruthi" 
    
    def __init__(x, name, cost,color,dimensions):
        x.name=name 
        x.color=color
        x.cost=cost
        x.dimensions=dimensions
        
    def get(x):
        print(x.name, x.cost, x.color, x.dimensions, x.company)
        
vagonr = Car("Vagonr",700000, "navy Blue","23*32*45")
swift = Car("Swift",9000000,"Grey","25*32*43")
Car.get(vagonr)
Car.get(swift)
scross=Car()

Vagonr 700000 navy Blue 23*32*45 Maruthi
Swift 9000000 Grey 25*32*43 Maruthi

TypeError: __init__() missing 4 required positional arguments: 'name', 'cost', 'color', and 'dimensions'

In [7]:
class Car:
    company="Maruthi" 
    
    def __init__(x, name, cost,color,dimensions):
        x.name=name 
        x.color=color
        x.cost=cost
        x.dimensions=dimensions
        
    def get(x):
        print(x.name, x.cost, x.color, x.dimensions, x.company)
        
vagonr = Car("Vagonr",700000, "navy Blue","23*32*45")
swift = Car("Swift",9000000,"Grey","25*32*43")
#Car.get(vagonr)
vagonr.get()
#Car.get(swift)
swift.get()

Vagonr 700000 navy Blue 23*32*45 Maruthi
Swift 9000000 Grey 25*32*43 Maruthi

In [9]:
class Car:
    company="Maruthi" 
    
    def __init__(self, name, cost,color,dimensions):
        self.name=name 
        self.color=color
        self.cost=cost
        self.dimensions=dimensions
        
    def get_company(self):
        return self.company
        
    def get(self):
        return self.name, self.cost, self.color, self.dimensions
        
vagonr = Car("Vagonr",700000, "navy Blue","23*32*45")
swift = Car("Swift",9000000,"Grey","25*32*43")
#Car.get(vagonr)
print(vagonr.get())
print(vagonr.get_company())
#Car.get(swift)
print(swift.get())
print(swift.get_company())

('Vagonr', 700000, 'navy Blue', '23*32*45')
Maruthi
('Swift', 9000000, 'Grey', '25*32*43')
Maruthi

In [11]:
# define a product class with purchase cost,name as mandatory attributes delivery cost and discount and profit percentage
# as optional attributes.
#default dicount percentage is 5% and default profit percentage is 30%, delivery cost by default 0
# write methods to calculate sales price and profit.
class Product:
    def __init__(self, name,purchase_cost, delivery_cost=0,discount_per=5,profit_per=30):
        self.name=name
        self.purchase_cost=purchase_cost
        self.delivery_cost =delivery_cost
        self.discount_per=discount_per
        self.profit_per=profit_per
        
    def get_grossprice(self):
        # without discount with profit+delivery charges
        return self.purchase_cost+self.get_profit()+self.delivery_cost
        
    def get_discount(self):
        return self.get_grossprice() * (self.discount_per/100)
        
    def get_profit(self):
        return self.purchase_cost * (self.profit_per/100)
        
    def get_salesprice(self):
        return self.get_max_retail_price() - self.get_discount()
    
    def get_max_retail_price(self):
        return self.get_grossprice() + self.get_discount() + self.get_profit()
    
Mi_version_7=Product("Mi PRO 7",12000,250)
print(Mi_version_7.get_salesprice())

19450.0

In [12]:
# define product class cost price and sales price as attributes write a method to calculate profit or loss
# show profit in + number, show loss in - number.
class Product:
    def __init__(self, cp,sp):
        self.cp=cp
        self.sp=sp
    def profit(self):
        return self.sp-self.cp
    
apple = Product(100,125.67)
print(apple.profit())
mango = Product(120,100)
print(mango.profit())

25.67
-20

In [14]:
# define a product class with purchase cost,name as mandatory attributes delivery cost and discount and profit percentage
# as optional attributes.
#default dicount percentage is 5% and default profit percentage is 30%, delivery cost by default 0
# write methods to calculate sales price and profit.
class Product:
    def __init__(self, name,purchase_cost, delivery_cost=0,discount_per=5,profit_per=30):
        self.name=name
        self.purchase_cost=purchase_cost
        self.delivery_cost =delivery_cost
        self.discount_per=discount_per
        self.profit_per=profit_per
        self.profit=self.purchase_cost * (self.profit_per/100)
        self.grossprice=self.purchase_cost+self.profit+self.delivery_cost
        self.discount= self.grossprice * (self.discount_per/100)
        self.mrp = self.grossprice + self.discount + self.profit
        self.sales_price = self.mrp-self.discount
        
Mi_version_7=Product("Mi PRO 7",12000,250)
print(Mi_version_7.sales_price)

19450.0

In [1]:
def fun(x,y):
    a=x+y
    b=x-y
    print("this is fun")
    print(a,b,x,y)
    
class emp:
    pass

fun(10,20)
emp()

this is fun
30 -10 10 20

In [2]:
def fun(x,y):
    a=x+y
    b=x-y
    print("this is fun")
    print(a,b,x,y)
    
class Emp:
    name="jay"
    age=3
    print(name,age)

jay 3

In [3]:
class Emp:
    name="jay"
    age=3
    print(name,age)
    
    def get_details(x):
        print("this is get_details function")

jay 3

In [4]:
class Emp:
    name="jay"
    age=3
    print(name,age)
    
    def get_details(x):
        print("this is get_details function")
    get_details(10)

jay 3
this is get_details function

In [7]:
# some data binded to data object. the class functions(methods) will help us to process the data
class Emp:
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
        

jay = Emp()
jay.name="Jayaram"
jay.salary=30000
jay.leaves=2
print(Emp.sal_cal(jay))

28000.0

In [8]:
# I need a software to calculate my profit/loss based on cost price and the sales price.

In [10]:
x=10
y=20
def add(x,y):
    return x+y
def dev(x,y):
    return x/y
def mul(x,y):
    return x*y
print(add(x,y))
print(dev(x,y))
print(mul(x,y))

30
0.5
200

In [12]:
class Operation:
    def add(x):
        return x.x1+x.x2
    def mul(x):
        return x.x1*x.x2
o1=Operation()
o1.x1=10
o1.x2=20
print(Operation.add(o1))
print(Operation.mul(o1))

30
200

In [13]:
# some data binded to data object. the class functions(methods) will help us to process the data
class Emp: # Emp refrence has a frame in the stack, sal_cal referenceit will inside thatframe:
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
        

jay = Emp() # it will create jay frame in the stack. name,sal,leaves inside that frame. If you want fetch any of the frame
# references, you need use frame name i.e jay
jay.name="Jayaram"
jay.salary=30000
jay.leaves=2
print(Emp.sal_cal(jay))
vedha=Emp()# it will create a vedha frame in stack. name attribute is added to the frame. 
#Note: in vedha frame we dont have salary and leaves attributes
vedha.name="vehdavesh"
Emp.sal_cal(vedha)# internally sal_cal expected a salary and leaves attributes which leads to the crash

28000.0

AttributeError: 'Emp' object has no attribute 'salary'

In [16]:
# some data binded to data object. the class functions(methods) will help us to process the data
class Emp: # Emp refrence has a frame in the stack, sal_cal referenceit will inside thatframe:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
        

jay = Emp() # it will create jay frame in the stack. name,sal,leaves inside that frame. If you want fetch any of the frame
# references, you need use frame name i.e jay
# jay.name="Jayaram"
# jay.salary=30000
# jay.leaves=2
Emp.data_bind(jay,"Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()# it will create a vedha frame in stack. name attribute is added to the frame. 
#Note: in vedha frame we dont have salary and leaves attributes
Emp.data_bind(vedha,"Vedhanvesh")
Emp.sal_cal(vedha)# internally sal_cal expected a salary and leaves attributes which leads to the crash

2800.0

TypeError: data_bind() missing 2 required positional arguments: 'e_salary' and 'e_leaves'

In [18]:
# some data binded to data object. the class functions(methods) will help us to process the data
class Emp: # Emp refrence has a frame in the stack, sal_cal referenceit will inside thatframe:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
        

jay = Emp() # it will create jay frame in the stack. name,sal,leaves inside that frame. If you want fetch any of the frame
# references, you need use frame name i.e jay
# jay.name="Jayaram"
# jay.salary=30000
# jay.leaves=2
Emp.data_bind(jay,"Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()# it will create a vedha frame in stack. name attribute is added to the frame. 
#Note: in vedha frame we dont have salary and leaves attributes
Emp.data_bind(vedha,"Vedhanvesh",4000,0)
print(Emp.sal_cal(vedha))# internally sal_cal expected a salary and leaves attributes which leads to the crash

2800.0
4000.0

In [19]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
Emp.data_bind(jay,"Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
Emp.data_bind(vedha,"Vedhanvesh",4000,0)
print(Emp.sal_cal(vedha))

2800.0
4000.0

In [20]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
#Emp.data_bind(jay,"Jayaram",3000,2)
jay.data_bind("Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
#Emp.data_bind(vedha,"Vedhanvesh",4000,0)
vedha.data_bind("Vedhanvesh",4000,0)
print(Emp.sal_cal(vedha))

2800.0
4000.0

In [21]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
jay.data_bind("Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
vedha.data_bind("Vedhanvesh",4000,0)
print(Emp.sal_cal(vedha))

2800.0
4000.0

In [22]:
def fun(a,b,c,d):
    print("this is fun")
fun(1,2,3,4)

this is fun

In [23]:
def fun(a,b,c,d):
    print("this is fun")
fun(1,2,3)

TypeError: fun() missing 1 required positional argument: 'd'

In [24]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        x.this_month_salary = x.salary - ((x.salary/30)*x.leaves)
        #return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
jay.data_bind("Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
vedha.data_bind("Vedhanvesh",4000,0)
Emp.sal_cal(vedha)
print(vedha.this_month_salary)

None
4000.0

In [25]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        #x.this_month_salary = x.salary - ((x.salary/30)*x.leaves)
        return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
jay.data_bind("Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
vedha.data_bind("Vedhanvesh",4000,0)
Emp.sal_cal(vedha)

print(jay.leaves)
print(vedha.leaves)

2800.0
2
0

In [ ]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        #x.this_month_salary = x.salary - ((x.salary/30)*x.leaves)
        return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
jay.data_bind("Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
vedha.data_bind("Vedhanvesh",4000,0)
Emp.sal_cal(vedha)
print(jay.leaves)
print(vedha.leaves)
print(Emp.leaves)

In [27]:
class Product:
    def revenue(x,e_cp,e_sp):
        x.cp = e_cp
        x.sp = e_sp
        x.rev = x.cp - x.sp
  
prod1 = Product()
prod1.revenue(1500,300)
print(prod1.rev)

1200

In [28]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        #x.this_month_salary = x.salary - ((x.salary/30)*x.leaves)
        return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
jay.data_bind("Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
vedha.data_bind("Vedhanvesh",4000,0)
Emp.sal_cal(vedha)
print(jay.leaves)
print(vedha.leaves)
print(Emp.leaves)

2800.0
2
0

AttributeError: type object 'Emp' has no attribute 'leaves'

In [2]:
class Emp:
    def data_bind(x,e_name,e_salary,e_leaves):
        x.name=e_name
        x.salary=e_salary
        x.leaves=e_leaves
    def sal_cal(x):
        return x.salary - ((x.salary/30)*x.leaves)
jay = Emp() 
jay.data_bind("Jayaram",3000,2)
print(Emp.sal_cal(jay))
vedha=Emp()
vedha.data_bind("Vedhanvesh",4000,0)
Emp.sal_cal(vedha)
print(jay.leaves)
print(vedha.leaves)
sai=Emp()
print(sai.sal_cal()) # Emp.sal_cal(sai)

2800.0
2
0

AttributeError: 'Emp' object has no attribute 'salary'

In [3]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
    def __init__(x):
        print("this is init")

this is class

In [4]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
    def __init__(x):
        print("this is init")
jay=Emp()

this is class
this is init

In [5]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
    def __init__(x):
        print("this is init")
jay=Emp()
vedha=Emp()
sai=Emp()
samba=Emp()

this is class
this is init
this is init
this is init
this is init

In [6]:
class Emp:
    print("this is class")
    def get(self):
        return self.name, self.age,self.id
    def __init__(self,e_name,e_age,e_id):
        # constructor
        self.name=e_name
        self.age=e_age
        self.id=e_id
jay=Emp("jayaram",4,"emp_1")
print(jay.get())# Emp.get(jay)

this is class
('jayaram', 4, 'emp_1')

In [8]:
# define a session booking class for a batminton court
# court name(string), starttime(string), endtime(string), players(list).
#BookSession("Aryabhatta","2021-May-7 7:30 AM","2021-May-7 9:30 AM",["samba","santhosh","jay","vedha"])
# write a method to fetch the session details.

class BookSession:
    def __init__(self, name, start_date,end_date,players):
        self.name=name
        self.start_date=start_date
        self.end_date=end_date
        self.players=players
    def create(self):
        pass
        # code to insert the db
    def check_availability(self, start_date, end_date):
        # we will execute a select to fetch the details in given timings.
        # based on the records we can take a decission
        
    def get(self):
        return self.name, self.start_date, self.end_date, self.players
    
session1 = BookSession("Aryabhatta","2021-May-7 7:30 AM","2021-May-7 9:30 AM",["samba","santhosh","jay","vedha"])
print(session1.get())

('Aryabhatta', '2021-May-7 7:30 AM', '2021-May-7 9:30 AM', ['samba', 'santhosh', 'jay', 'vedha'])

In [ ]:
# define a session booking class for a batminton court
# court name(string), starttime(string), endtime(string), players(list).
#BookSession("Aryabhatta","2021-May-7 7:30 AM","2021-May-7 9:30 AM",["samba","santhosh","jay","vedha"])
# write a method to fetch the session details.

class BookSession:
    def __init__(self, name, start_date,end_date,players):
        self.name=name
        self.start_date=start_date
        self.end_date=end_date
        self.players=players
    def create(self):
        pass
        # code to insert the db
    def check_availability(self, start_date, end_date):
        # we will execute a select to fetch the details in given timings.
        # based on the records we can take a decission
        
    def get(self):
        return self.name, self.start_date, self.end_date, self.players
    
session1 = BookSession("Aryabhatta","2021-May-7 7:30 AM","2021-May-7 9:30 AM",["samba","santhosh","jay","vedha"])
print(session1.get())

In [9]:
# I got the module sales.py from internet.
# sales.py : v 1.0.1
class Customer:
    def __init__(self, name,address,phone):
        self.name=name
        self.address=address
        self.phone=phone
        
    def get(self):
        return self.name,self.address, self.phone
    
#main.py
#from sales import Customer
samba = Customer("samba","Hyderabad",9676622023)
print(samba.get())

('samba', 'Hyderabad', 9676622023)

In [ ]:
# I got the module sales.py from internet.
# sales.py : v 1.0.1
class Customer:
    def __init__(self, name,address,phone):
        self.name=name
        self.address=address
        self.phone=phone
        
    def get(self):
        return self.name,self.address, self.phone
    # some other functionalities
    
#main.py
#from sales import Customer
samba = Customer("samba","Hyderabad",9676622023)
print(samba.get())
# got the requirement to add email attribute to the customerclass and we should have methods to validate phone number and email.

In [12]:
# I got the module sales.py from internet.
# sales.py : v 1.0.1
class Customer:
    def __init__(self, name,address,phone, email):
        self.name=name
        self.address=address
        self.phone=str(phone)
        self.email=email
        if len(self.phone)!=10:
            raise Exception("phone numebr should be 10 size")
        
    def get(self):
        return self.name,self.address, self.phone, self.email
    
    # some other functionalities
    
#main.py
#from sales import Customer
samba = Customer("samba","Hyderabad",9676622023,"sambaodoo@gmail.com")
print(samba.get())
# got the requirement to add email attribute to the customerclass and we should have methods to validate phone number and email.

('samba', 'Hyderabad', '9676622023', 'sambaodoo@gmail.com')

In [13]:
# I got the module sales.py from internet.
# sales.py : v 1.0.1
class Customer:
    def __init__(self, name,address,phone, email):
        self.name=name
        self.address=address
        self.phone=str(phone)
        self.email=email
        if len(self.phone)!=10:
            raise Exception("phone numebr should be 10 size")
        
    def get(self):
        return self.name,self.address, self.phone, self.email
    
    # some other functionalities
    
#main.py
#from sales import Customer
samba = Customer("samba","Hyderabad",9676622023,"sambaodoo@gmail.com")
print(samba.get())
# got the requirement to add email attribute to the customerclass and we should have methods to validate phone number and email.
sai=Customer("Sailaxmi","Hyderabad",9676622024,"sail@gmail.com")
print(sai.get())

('samba', 'Hyderabad', '9676622023', 'sambaodoo@gmail.com')
('Sailaxmi', 'Hyderabad', '9676622024', 'sail@gmail.com')

In [14]:
# consider the scenario that sales people released a new version v 1.0.2, they added the few features whcih you required.
# what if you update the module. do you have your changes in sales.py if you update the code?
# when you update the module, you lost your changes.
# what is the best way to do it?
# I got the module sales.py from internet.
# sales.py : v 1.0.1
class Customer:
    def __init__(self, name,address,phone):
        self.name=name
        self.address=address
        self.phone=str(phone)
        
        
    def get(self):
        return self.name,self.address, self.phone
    
    # some other functionalities
    
# mysales.py
class MyCustomer(Customer):
    def __init__(self, name,address,phone, email):
        self.name=name
        self.address=address
        self.phone=str(phone)
        self.email=email
        if len(self.phone) !=10:
            raise Eaception("Phone number should 10 in size")
    
#main.py
#from mysales import MyCustomer
samba = MyCustomer("samba","Hyderabad",9676622023,"sambaodoo@gmail.com")
print(samba.get())
# got the requirement to add email attribute to the customerclass and we should have methods to validate phone number and email.
sai=MyCustomer("Sailaxmi","Hyderabad",9676622024,"sail@gmail.com")
print(sai.get())

('samba', 'Hyderabad', '9676622023')
('Sailaxmi', 'Hyderabad', '9676622024')

In [1]:
#kinds of inheritance
"""
single
multilevel
multiple
hybrid
"""
#multilevel inheritance
class Parent:
    def op1(self):
        print("this is operation1 in parent")

class Child1(Parent):
    def op2(self):
        print("this is op2 in child1")

class grandChild1(Child1):
    def op3(self):
        print("this is op3 in grand child")
        
g1=grandChild1()
g1.op1()
g1.op2()
g1.op3()

this is operation1 in parent
this is op2 in child1
this is op3 in grand child

In [3]:
# multiple inheritance
class Parent1:
    def op1(self):
        print("this is op1 in parent1")
        
class Parent2:
    def op2(self):
        print("this is op2 in parent2")
    
class Child(Parent1, Parent2):
    def op3(self):
        print("this is op3 in child")
        
c1=Child()
c1.op1()
c1.op2()
c1.op3()

this is op1 in parent1
this is op2 in parent2
this is op3 in child

In [4]:
# multiple inheritance
class Parent1:
    def op1(self):
        print("this is op1 in parent1")
        
class Parent2:
    def op2(self):
        print("this is op2 in parent2")
    def op1(self):
        print("this is op1 in parent2")
    
class Child(Parent1, Parent2):
    def op3(self):
        print("this is op3 in child")
        
c1=Child()
c1.op1()
c1.op2()
c1.op3()

this is op1 in parent1
this is op2 in parent2
this is op3 in child

In [5]:
# multiple inheritance
class Parent1:
    def op1(self):
        print("this is op1 in parent1")
        
class Parent2:
    def op2(self):
        print("this is op2 in parent2")
    def op1(self):
        print("this is op1 in parent2")
    
class Child(Parent2, Parent1):
    def op3(self):
        print("this is op3 in child")
        
c1=Child()
c1.op1()
c1.op2()
c1.op3()

this is op1 in parent2
this is op2 in parent2
this is op3 in child

In [6]:
# what is an order it will follow: method resolution order.
# multiple inheritance
class Parent1:
    def op1(self):
        print("this is op1 in parent1")
        
class Parent2:
    def op2(self):
        print("this is op2 in parent2")
    def op1(self):
        print("this is op1 in parent2")
    
class Child(Parent2, Parent1):
    def op3(self):
        print("this is op3 in child")
        
c1=Child()
print(Child.__mro__)
c1.op1()
c1.op2()
c1.op3()

(<class '__main__.Child'>, <class '__main__.Parent2'>, <class '__main__.Parent1'>, <class 'object'>)
this is op1 in parent2
this is op2 in parent2
this is op3 in child

In [7]:
#inheritance?
class c1:
    def op1(self):
        print("this is self")
o1=c1()
o1.op1()

this is self

In [8]:
class purchase:
    def __init__(self, data):
        self.data = data
        self.table_name="customer"
    def create_supplier(self):
        #WAC to insert data in to table
        pass
        
class Supplier:
    def __init__(self,data):
        self.data=data
        self.table_name="supplier"
        
    def create_customer(self):
        # WAC to insert data in to table
        pass

In [ ]:
class DB:
    def __init__(self, data):
        self.data = data
        # some other attributes
    def create(self):
        # wac to insert data in to table(self.table_name)

class Customer(DB):
    def __init__(self,data):
        self.data=data
         # some other attributes
        self.table_name="cusrtomer"

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"233423423"})

In [ ]:
class DB:
    def __init__(self, data):
        self.data = data
        # some other attributes
    def create(self):
        # wac to insert data in to table(self.table_name)

class Customer(DB):
    def __init__(self,data):
        self.__init__(data)
        self.table_name="cusrtomer"

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"233423423"})

In [10]:
class c1:
    def op1(self):
        print("this is operation1")
    def op2(self):
        print("this is operation2")
    def op3(self):
        print("this is operation3")
        
class c2(c1):
    def operations(self):
        self.op1()
        self.op2()
        self.op3()
o2=c2()
o2.operations()

this is operation1
this is operation2
this is operation3

In [11]:
class c1:
    def op1(self):
        print("this is operation1")
    def op2(self):
        print("this is operation2")
    def op3(self):
        print("this is operation3")
        
class c2(c1):
    def operations(self):
        self.op1()
        self.op2()
        self.op3()
    def op1(self):
        print("this is operation1 in c2")
o2=c2()
o2.operations()

this is operation1 in c2
this is operation2
this is operation3

In [ ]:
class DB:
    def __init__(self, data):
        self.data = data
        # some other attributes
    def create(self):
        # wac to insert data in to table(self.table_name)

class Customer(DB):
    def __init__(self,data):
        self.__init__(data) # infinite recursion, there is no end condition to come out from the method
        self.table_name="cusrtomer"

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"233423423"})

In [12]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting data in to %s" % self.table_name)

class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"233423423"})
cust_inst.create()

inserting data in to customer

In [14]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting %s in to %s" % (self.data,self.table_name))
            

class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 
        
class Supplier(DB):
    def __init__(self, data):
        DB.__init__(self, data, "supplier")

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"233423423"})
cust_inst.create() 
sup_inst = Supplier(data={"name":"sup1","address":"Banglore","phone":"234225434"})
sup_inst.create()

inserting {'name': 'cust1', 'address': 'Hyderabad', 'phone': '233423423'} in to customer
inserting {'name': 'sup1', 'address': 'Banglore', 'phone': '234225434'} in to supplier

In [15]:
# Redesign above class by incuring the customer data validations.
# phone number should be in lenght 10
# nameshould not contains special symbols apartspace. i,e it can contains space but not any other special symbol.

# the design should in a oops manner but not like

In [ ]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting %s in to %s" % (self.data,self.table_name))
class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 
class Supplier(DB):
    def __init__(self, data):
        DB.__init__(self, data, "supplier")

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"233423423"})
cust_inst.create() 
sup_inst = Supplier(data={"name":"sup1","address":"Banglore","phone":"234225434"})
sup_inst.create()

In [1]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting %s in to %s" % (self.data,self.table_name))
class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 
    def validate_create(self):
        if len(self.data.get("phone")) !=10:
            raise Exception("phone number not valid")
        name=self.data.get("name")
        name = name.reaplce(" ",'')
        if not name.isalnum():
            raise Exception("name should not allow special symbols.")
            print("inserting %s in to %s" % (self.data,self.table_name))
        
class Supplier(DB):
    def __init__(self, data):
        DB.__init__(self, data, "supplier")

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"233423423"})
cust_inst.validate_create() 
sup_inst = Supplier(data={"name":"sup1","address":"Banglore","phone":"234225434"})
sup_inst.create()

Exception: phone number not valid

In [4]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting %s in to %s" % (self.data,self.table_name))
class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 
    def validate_create(self):
        if len(self.data.get("phone")) !=10:
            raise Exception("phone number not valid")
        name=self.data.get("name")
        name = name.replace(" ",'')
        if not name.isalnum():
            raise Exception("name should not allow special symbols.")
        print("inserting %s in to %s" % (self.data,self.table_name))
        
class Supplier(DB):
    def __init__(self, data):
        DB.__init__(self, data, "supplier")

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"9676622023"})
cust_inst.validate_create() 
sup_inst = Supplier(data={"name":"sup1","address":"Banglore","phone":"9676622024"})
sup_inst.create()

inserting {'name': 'cust1', 'address': 'Hyderabad', 'phone': '9676622023'} in to customer
inserting {'name': 'sup1', 'address': 'Banglore', 'phone': '9676622024'} in to supplier

In [5]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting %s in to %s" % (self.data,self.table_name))
class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 
    def validate_create(self):
        if len(self.data.get("phone")) !=10:
            raise Exception("phone number not valid")
        name=self.data.get("name")
        name = name.replace(" ",'')
        if not name.isalnum():
            raise Exception("name should not allow special symbols.")
        self.create()
        
class Supplier(DB):
    def __init__(self, data):
        DB.__init__(self, data, "supplier")

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"9676622023"})
cust_inst.validate_create() 
sup_inst = Supplier(data={"name":"sup1","address":"Banglore","phone":"9676622024"})
sup_inst.create()

inserting {'name': 'cust1', 'address': 'Hyderabad', 'phone': '9676622023'} in to customer
inserting {'name': 'sup1', 'address': 'Banglore', 'phone': '9676622024'} in to supplier

In [6]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting %s in to %s" % (self.data,self.table_name))
class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 
    def validate_create(self):
        if len(self.data.get("phone")) !=10:
            raise Exception("phone number not valid")
        name=self.data.get("name")
        name = name.replace(" ",'')
        if not name.isalnum():
            raise Exception("name should not allow special symbols.")
        self.create()
        
class Supplier(DB):
    def __init__(self, data):
        DB.__init__(self, data, "supplier")

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"9676622023"})
cust_inst.validate_create() 
sup_inst = Supplier(data={"name":"sup1","address":"Banglore","phone":"9676622024"})
sup_inst.create()
cust_inst2 = Customer(data={"name":"cust2","address":"Hyderabad2","phone":"9676622025"})
cust_inst2.create()

inserting {'name': 'cust1', 'address': 'Hyderabad', 'phone': '9676622023'} in to customer
inserting {'name': 'sup1', 'address': 'Banglore', 'phone': '9676622024'} in to supplier
inserting {'name': 'cust2', 'address': 'Hyderabad2', 'phone': '9676622025'} in to customer

In [ ]:
class DB:
    def __init__(self, data, table_name):
        self.data = data
        self.table_name=table_name
        # some other attributes
    def create(self):
        print("inserting %s in to %s" % (self.data,self.table_name))
class Customer(DB):
    def __init__(self,data):
        DB.__init__(self, data, "customer") 
    def create(self):
        if len(self.data.get("phone")) !=10:
            raise Exception("phone number not valid")
        name=self.data.get("name")
        name = name.replace(" ",'')
        if not name.isalnum():
            raise Exception("name should not allow special symbols.")
        self.create()
        
class Supplier(DB):
    def __init__(self, data):
        DB.__init__(self, data, "supplier")

cust_inst = Customer(data={"name":"cust1","address":"Hyderabad","phone":"9676622023"})
cust_inst.create() 
sup_inst = Supplier(data={"name":"sup1","address":"Banglore","phone":"9676622024"})
sup_inst.create()
cust_inst2 = Customer(data={"name":"cust2","address":"Hyderabad2","phone":"9676622025"})
cust_inst2.create()

In [2]:
class Emp:
    def __init__(self,name,age,pan=None,adhar=None,*context, **data):
        # method overloading.
        self.name=name
        self.data=data
        self.adhar=adhar
        self.context=context
        self.age=age
        self.pan=pan
jay=Emp(name="JAyaram",age=4)
vedha=Emp(name="vedhanvesh",age=3,adhar="124324")
sai=Emp(name="sali laxmi", age=32,adhar="sdfsd",pan="sddfsdf",voterid="sdfsd",passport="sdfsd")

In [ ]:
# java class definition for method overloadin
# but in python the function is an object and the method name is a reference. if you write two  methods in python with same name
#  the reference(method name) refers the latest one.
class Emp:
    def create(self, name):
        self.name=name
    def create(self,name,age):
        self.name=name
        self.age=age

In [3]:
# why do we need to define a class.
a=10 # int(10) # it's creating an integer class object
s="python" # str("python") it's creationg string class object
l=[1,2,3] # list([1,2,3]) it's creation a list class object internally
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def sal_cal(self):
        pass
    def leave_cal(self):
        pass
    def pf_cal(self):
        pass
jay=Emp(name="jayaram",age=3) # it's creating Emp class object. Emp
# class is a keyword which helps me to create usre-defined datatypes.

In [4]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
jay=Emp("jayaram",3)
print(type(jay))

<class '__main__.Emp'>

In [5]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
jay=Emp("jayaram",3)
print(id(jay))

2202406926128

In [6]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha)

30

TypeError: unsupported operand type(s) for +: 'Emp' and 'Emp'

In [7]:
{"name":"12"} + {"name":"34"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [8]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return 10
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__

30
10

In [9]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return (self1.name+self2.name, self1.age+self2.age)
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__

30
('jayaramVedhanvesh', 5)

In [10]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__

30
(('jayaram', 'Vedhanvesh'), (3, 2))

In [11]:
a=10
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [12]:
abs(10)
a=10
b=20
print(a and b)
bool(a)

20

True

In [13]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __sub__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__
print(jay-vedha)

30
(('jayaram', 'Vedhanvesh'), (3, 2))
(('jayaram', 'Vedhanvesh'), (3, 2))

In [14]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __sub__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__
print(jay-vedha)
for i in jay:
    print(i)

30
(('jayaram', 'Vedhanvesh'), (3, 2))
(('jayaram', 'Vedhanvesh'), (3, 2))

TypeError: 'Emp' object is not iterable

In [15]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __sub__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __iter__(self):
        yield 1
        yield 2
        yield 3
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__
print(jay-vedha)
for i in jay:
    print(i)

30
(('jayaram', 'Vedhanvesh'), (3, 2))
(('jayaram', 'Vedhanvesh'), (3, 2))
1
2
3

In [16]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __sub__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __iter__(self):
        for i in self.__dict__:
            yield i
            
        
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__
print(jay-vedha)
for i in jay:
    print(i)

30
(('jayaram', 'Vedhanvesh'), (3, 2))
(('jayaram', 'Vedhanvesh'), (3, 2))
name
age

In [17]:
class Emp:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __add__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __sub__(self1, self2):
        return ((self1.name,self2.name), (self1.age,self2.age))
    def __iter__(self):
        for i in self.__dict__.items():
            yield i
            
        
        
a=10
b=20
print(a+b)
jay=Emp("jayaram",3)
vedha=Emp("Vedhanvesh",2)
print(jay+vedha) # python look for one method inside the class : __add__
print(jay-vedha)
for i in jay:
    print(i)

30
(('jayaram', 'Vedhanvesh'), (3, 2))
(('jayaram', 'Vedhanvesh'), (3, 2))
('name', 'jayaram')
('age', 3)

In [ ]:
# define your own dictionary which supports all dictionary methods along with + and  - operators.
class OwnDict:
    pass
a=OwnDict()
b=OwnDict()
a.get("key")
a.values()
print(a+b)
print(a-b)
for i in a:
    pass
    # it suppose to give values.